body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px;
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    section {
        padding: 30px;
    }
}